@import "../fonts/TTJenevers/stylesheet.css" all;
@import "../fonts/Manrope/stylesheet.css" all;
$mainColor:#fbfbfb;
$subColor:#5e7b99;
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 2889px;
}

section {
    width: 100%;
    max-width: 1440px;
}
.perspective-card{
    transition: transform 0.4s;
}
.wrapper {
    overflow: visible;
}

.parallax {
    position: sticky;
    top: -2481px;
    overflow-x: hidden;
}

.inner-section {
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.menu-btn {
    display: none;
    width: 60px;
    height: 60px;
    background-color: #baae81;
    border-radius: 50%;
    position: fixed;
    left: 60px;
    top: 60px;
    z-index: 9999;
    cursor: pointer;
    transition: 0.3s background-color;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 4px;
    background-color: #fbfbfb;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-8px);
}

.menu-btn span::after {
    transform: translateY(8px);
}

.header {
    background-color: $mainColor;
    height: 480px;
    position: relative;
    #social {
        display: none;
    }
    &-inner {
        padding-left: 60px;
        padding-right: 60px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding-top: 60px;
    }
    .logo {
        width: 118px;
        height: 91px;
        z-index: 9;
        position: relative;
        right: 60px;
    }
    path {
        transition: 0.7s;
    }
    ul {
        list-style-type: none;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        li {
            margin-bottom: 10px;
        }
    }
    .link a {
        position: relative;
    }
    .link::before {
        top: 0;
    }
    .link a::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #1a1d1f;
        transition: 0.2s;
    }
    .link a:hover:before {
        width: 0%;
        left: 0;
    }
    .nav-link {
        color: #1a1d1f;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        transition: color 0.2s;
        text-decoration: none;
    }
    .nav-link:hover {
        color: #9fa0a1;
        cursor: pointer;
    }
    .main-row {
        height: 134px;
        display: flex;
        justify-content: space-between;
    }
    .sub-row {
        display: flex;
        align-items: flex-start;
        .nav {
            margin-right: 53px;
        }
        .order {
            display: flex;
            align-items: center;
            color: $subColor;
            font-family: Manrope;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            text-decoration: none;
            transition: 0.3s opacity;
            img {
                margin-left: 20px;
                width: 120px;
                height: 12px;
                transition: 0.3s margin-left;
            }
        }
        .order:hover{
			opacity: 0.6;
        }
        .order:hover img {
			margin-left: 60px;
		}
    }
}

.about {
    h1 {
        position: absolute;
        right: 74px;
        top: -280px;
        color: #baae81;
        font-family: "TT Jenevers";
        font-size: 120px;
        font-weight: 800;
        line-height: 144px;
        transform: rotate(-8deg);
    }
    .inner-section {
        padding-top: 180px;
    }
    .u {
        position: absolute;
        right: 25%;
        top: 299px;
        width: 183px;
        height: 242px;
        z-index: 1;
    }
    .place {
        width: 600px;
        height: 300px;
        margin-bottom: 180px;
        z-index: 0;
        position: relative;
        background-image: url("../media/place.png");
        background-position: center;
        background-size: cover;
    }
    .about-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        span {
            width: 170px;
            color: $subColor;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
        }
        p {
            max-width: 1020px;
            margin: 0;
            color: #9fa0a1;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            text-align: justify;
            text-indent: 1.5em;
        }
    }
    a {
        position: absolute;
        width: 180px;
        height: 180px;
        background-color: $subColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-16deg);
        color: $mainColor;
        font-family: Manrope;
        font-size: 24px;
        font-weight: 500;
        line-height: 33.6px;
        text-decoration: none;
        text-align: center;
        right: 10%;
        top: 840px;
        z-index: 1;
        transition: 0.3s transform;
    }
    a:hover {
        transform: rotate(0deg);
    }
}

.portfolio {
    height: 830px;
    .inner-section {
        padding-top: 110px;
    }
    .instagram {
        left: 330px;
        position: absolute;
        color: #e1e1e1;
        font-family: "TT Jenevers";
        font-size: 120px;
        font-weight: 800;
        line-height: 144px;
        transform: rotate(4deg);
        width: 766px;
        text-decoration: none;
        text-align: center;
    }
    .photo {
        position: absolute;
    }
    .photo1 {
        top: 290px;
    }
    .photo2 {
        right: 25%;
        top: 530px;
    }
    .arrow {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        top: 410px;
        transition: 0.3s transform;
    }
    .arrow:hover {
        transform: rotate(8deg);
    }
}

.masters {
    margin-top: 170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 60px;
    h2 {
        position: absolute;
        color: #baae81;
        font-family: "TT Jenevers";
        font-size: 120px;
        font-weight: 800;
        line-height: 144px;
        transform: rotate(-8deg);
        margin-top: -120px;
    }
    .master3 {
        grid-column: 2/3;
    }
    .ellipse {
        width: 122px;
        height: 122px;
        border: 2px solid #baae81;
        border-radius: 50%;
        justify-self: end;
    }
    .master {
        width: 120px;
        position: relative;
        span {
            position: absolute;
            width: 150px;
            bottom: -14px;
            color: #1a1d1f;
            font-family: Manrope;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            left: 120px;
        }
    }
    .master3,
    .master2 {
        justify-self: center;
    }
}

.price {
    margin-top: 180px;
    .inner-section {
        display: flex;
        justify-content: space-between;
    }
    #price {
        position: absolute;
        bottom: 100vh;
    }
    h2 {
        color: $subColor;
        font-family: Manrope;
        font-size: 36px;
        font-weight: 500;
        line-height: 50.4px;
        margin: 0;
    }
    a {
        position: absolute;
        width: 180px;
        height: 180px;
        background-color: $subColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(16deg);
        color: $mainColor;
        font-family: Manrope;
        font-size: 24px;
        font-weight: 500;
        line-height: 33.6px;
        text-decoration: none;
        text-align: center;
        transition: 0.3s transform;
    }
    a:hover {
        transform: rotate(0deg);
    }
    .service {
        color: #baae81;
        font-family: Manrope;
        font-size: 36px;
        font-weight: 500;
        line-height: 50.4px;
    }
    .cost {
        color: $subColor;
        font-family: Manrope;
        font-size: 36px;
        font-weight: 500;
    }
    small {
        color: rgba(26, 29, 31, 0.4);
        font-size: 24px;
    }
    &-table {
        width: 720px;
        position: relative;
    }
    &-row {
        height: 51px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #baae81;
    }
    img {
        width: 600px;
        height: 200px;
        position: absolute;
        top: 175px;
        left: -480px;
    }
    a {
        position: absolute;
        left: -480px;
        top: 75px;
    }
}

footer {
    height: 100vh;
    min-height: 800px;
    background-color: #baae81;
    display: flex;
    justify-content: center;
    padding-left: 60px;
    z-index: 10;
    position: relative;
    transition: 0.2s;
    opacity: 1;
    h2 {
        top: 59px;
        margin: 0;
        position: absolute;
        transform: rotate(-4deg);
        color: #fbfbfb;
        font-family: "TT Jenevers";
        font-size: 120px;
        font-weight: 800;
        line-height: 168px;
    }
    .footer-logo {
        right: 59px;
        top: 59px;
        margin: 0;
        position: absolute;
    }
    .contacts {
        position: absolute;
        top: 33vh;
        a {
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            text-decoration: none;
        }
        .phone {
            margin-left: 120px;
        }
    }
    .inner-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 40px;
        margin-top: 52vh;
        height: 40vh;
        span {
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
        }
        .contacts-social,
        a {
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            align-self: end;
        }
        .contacts-social {
            margin-left: 5%;
        }
        a {
            text-decoration: underline;
        }
    }
    h3 {
        grid-column: 1/3;
        margin: 0;
        text-align: center;
        color: #fbfbfb;
        font-family: Manrope;
        font-size: 60px;
        font-weight: 500;
        line-height: 60px;
    }
    form {
        grid-column: 1/3;
        justify-self: center;
    }
    input {
        width: 341px;
        height: 60px;
        background-color: #baae81;
        border: 2px solid rgba(251, 251, 251, 0.2);
        margin-left: -6px;
        color: rgba(251, 251, 251, 0.6);
        font-family: Manrope;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        padding-left: 21px;
    }
    input::placeholder {
        color: rgba(251, 251, 251, 0.6);
    }
    button {
        width: 60px;
        height: 60px;
        background-color: #5e7b99;
        border-radius: 50%;
        border: none;
        margin-left: 60px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            transform: rotate(8deg);
        }
    }
}

@media (max-width: 1230px) {
    .about {
        a {
            top: 930px;
            right: 5%;
        }
        .about-block {
            p {
                max-width: 820px;
                width: 80%;
            }
        }
    }
    .price {
        height: 500px;
        img {
            width: 600px;
            height: 200px;
            position: absolute;
            top: 270px;
            left: -280px;
        }
        a {
            position: absolute;
            left: -280px;
            top: 170px;
        }
    }
}

@media (max-width: 1180px) {
    .portfolio {
        .instagram {
            left: 230px;
        }
        .photo2 {
            right: 10%;
            top: 530px;
        }
    }
}

@media (max-width: 1080px) {
    .portfolio {
        .instagram {
            left: 130px;
        }
    }
    .about {
        a {
            top: 950px;
            right: 5%;
        }
    }
}

@media (max-width: 1000px) {
    .portfolio {
        .instagram {
            left: 50px;
        }
    }
    .about {
        a {
            top: 1000px;
            right: 5%;
        }
    }
}

@media (max-width: 950px) {

	footer.footer-active{
		z-index: -1;
		opacity: 0;
    }
    .bodyScroll {
        overflow: hidden;
    }
    .header {
        height: 400px;
        #social {
            position: fixed;
            bottom: 60px;
            display: block;
            left: -120%;
            transition: 0.5s;
        }
        #social.social-active {
            left: 40%;
        }
        #sub-nav ul li a.social-link,
        .social-link {
            all: unset;
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            text-decoration: underline;
            cursor: pointer;
        }
        .social-link {
            text-decoration: none;
        }
        .logo {
            position: fixed;
        }
        .logo-active {
            z-index: 16;
            fill: #fff;
        }
        nav,
        .sub-row .order {
            all: unset;
            display: none;
        }
        nav.nav.nav_active {
            left: 0;
        }
        nav.nav {
            left: -120%;
            transition: 0.5s;
        }
        #main-nav {
            height: 100vh;
            width: 100%;
            background-color: #baae81;
            padding-top: 180px;
            top: 0;
            overflow: hidden;
        }
        #sub-nav.nav {
            top: 510px;
        }
        #main-nav,
        #sub-nav {
            position: fixed;
            display: flex;
            z-index: 14;
            ul {
                margin-left: 60px;
                li a {
                    font-family: "TT Jenevers";
                    font-size: 100px;
                    font-weight: 800;
                    line-height: 100px;
                    color: #baae81;
                    text-shadow: #fff 1px 2px 0, #fff -1px -2px 0, #fff -1px 2px 0, #fff 1px -2px 0;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        #lang.nav-link {
            all: unset;
            position: fixed;
            bottom: 60px;
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            text-decoration: underline;
        }
        a#order {
            position: fixed;
            width: 180px;
            height: 180px;
            background-color: $subColor;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(-16deg);
            color: $mainColor;
            font-family: Manrope;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;
            text-decoration: none;
            text-align: center;
            left: -100%;
            top: 470px;
            z-index: 16;
            transition: 0.8s;
            cursor: pointer;
            img {
                display: none;
            }
        }
        a#order.order-active:hover {
            transform: rotate(0deg);
            opacity: 1;
        }
        a#order.order-active {
            left: 70%;
        }
        .link a::before {
            height: 0px;
        }
        .main-row {
            flex-direction: row-reverse;
        }
    }
    .about {
        .place {
            width: 100%;
            margin-bottom: 180px;
        }
        .u {
            right: 25%;
            top: 410px;
        }
        a {
            top: 1050px;
            right: 5%;
        }
    }
    .portfolio {
        height: 850px;
        .inner-section {
            padding-top: 110px;
        }
        .instagram {
            left: 50px;
        }
        .photo1 {
            top: 490px;
        }
        .photo2 {
            right: 0;
            top: 680px;
            width: 180px;
            height: 180px;
        }
        .arrow {
            top: 310px;
        }
    }
    .masters {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 60px;
        h2 {
            position: absolute;
            color: #baae81;
            font-family: "TT Jenevers";
            font-size: 120px;
            font-weight: 800;
            line-height: 144px;
            transform: rotate(-8deg);
            margin-top: -120px;
        }
        .master3 {
            grid-column: 2/3;
        }
        .ellipse {
            justify-self: start;
            grid-column: 2/3;
            grid-row: 2/3;
            margin-left: 60px;
            display: none;
        }
        .master {
            margin-left: 60px;
        }
        .master3,
        .master2 {
            justify-self: start;
        }
        .master3 {
            grid-column: 1/2;
        }
    }
    .price {
        height: 600px;
        img {
            width: 600px;
            height: 200px;
            position: absolute;
            top: 370px;
            left: -180px;
        }
        a {
            position: absolute;
            left: -180px;
            top: 270px;
        }
    }
    .menu-btn {
        display: block;
    }
}

@media (max-width: 900px) {
    .header #sub-nav ul li a.social-link,
    .header .social-link,
    .header #lang.nav-link {
        font-size: 30px;
    }
    .header #main-nav,
    .header #sub-nav {
        ul {
            margin-left: 50px;
            li a {
                font-size: 80px;
                line-height: 80px;
            }
        }
    }
    .header #sub-nav.nav {
        top: 450px;
    }
    .header a#order.order-active {
        left: 70%;
        top: 420px;
    }
    .portfolio {
        .instagram {
            font-size: 90px;
            line-height: 100px;
            left: 15%;
            width: 580px;
        }
        .photo1 {
            top: 440px;
        }
        .photo2 {
            right: 20px;
            top: 600px;
        }
        .arrow {
            top: 230px;
        }
    }
    .about {
        h1 {
            right: 14px;
        }
        a {
            top: 1100px;
        }
    }
    .footer {
        padding-right: 60px;
        h2 {
            display: none;
        }
        .footer-logo {
            display: none;
        }
        .contacts {
            top: 10vh;
            left: 50%;
            margin-left: -155px;
            .phone {
                margin: 0px;
            }
        }
        .inner-footer {
            margin-top: 32vh;
            span {
                font-size: 26px;
            }
            .contacts-social,
            a {
                font-size: 26px;
            }
        }
        form {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            .phone {
                margin-top: -5px;
            }
            input {
                margin-left: 0;
                width: 100%;
            }
            button {
                margin: 0 auto;
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        height: 300px;
    }
    .about {
        a {
            top: 965px;
            right: -39px;
        }
        h1 {
            font-size: 90px;
            line-height: 92px;
            top: -180px;
        }
        .about-block {
            flex-direction: column;
            p {
                width: 100%;
                font-size: 25px;
            }
            span {
                margin-bottom: 20px;
            }
        }
    }
    .portfolio .instagram {
        font-size: 75px;
        width: 480px;
    }
    .masters {
        h2 {
            font-size: 90px;
        }
    }
    .price {
        height: 830px;
        margin-top: 120px;
        .inner-section {
            flex-direction: column;
            h2 {
                margin-bottom: 20px;
            }
            .price-table {
                width: 100%;
            }
        }
        img {
            position: relative;
            left: 0;
            top: 0;
            margin-top: 130px;
        }
        a {
            top: 350px;
            left: -70px;
        }
    }
}

@media (max-width: 700px) {
    .header #main-nav,
    .header #sub-nav {
        ul {
            li a {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
    .header #sub-nav ul li a.social-link,
    .header .social-link,
    .header #lang.nav-link {
        font-size: 24px;
    }
    .header #sub-nav.nav {
        top: 360px;
    }
    .header a#order.order-active {
        top: 360px;
    }
    .about {
        a {
            top: 930px;
        }
        h1 {
            right: -20px;
        }
        .about-block {
            flex-direction: column;
            p {
                font-size: 23px;
                line-height: 35px;
            }
        }
    }
    .portfolio {
        height: 720px;
        .photo1 {
            top: 390px;
            width: 250px;
            height: 250px;
        }
        .photo2 {
            width: 160px;
            height: 160px;
            right: -10px;
            top: 550px;
        }
        .instagram {
            font-size: 66px;
            font-weight: 800;
            line-height: 80px;
            width: 420px;
            left: 25px;
        }
    }
    .masters {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        h2 {
            font-size: 90px;
            margin-top: -105px;
        }
        .master {
            margin-left: 30px;
        }
    }
    .price {
        height: 760px;
        margin-top: 100px;
        img {
            width: 442px;
            height: 147px;
        }
        .service {
            font-size: 26px;
        }
        .cost {
            font-size: 26px;
        }
        small {
            font-size: 20px;
        }
    }
    .footer {
        .contacts {
            margin-left: -110px;
            .phone {
                font-size: 26px;
                line-height: 30px;
            }
            .adress {
                font-size: 26px;
                line-height: 30px;
            }
        }
        .inner-footer {
            margin-top: 28vh;
            grid-template-rows: repeat(4, 1fr);
            span {
                grid-column: 1/3;
                justify-self: center;
                text-align: center;
            }
            .contacts-social {
                grid-column: 1/3;
                margin: 0;
                justify-self: center;
            }
        }
        h3 {
            font-size: 40px;
            line-height: 40px;
        }
    }
}

@media (max-width: 600px) {
    .header-inner,
    main,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    main {
        min-height: 0px;
    }
    .about {
        .about-block {
            p {
                font-size: 18px;
                line-height: 27px;
            }
        }
        h1 {
            font-size: 60px;
            line-height: 72px;
            top: -120px;
            right: 50%;
            margin-right: -175px;
        }
        a {
            top: 860px;
            right: -30px;
        }
    }
    .portfolio {
        height: 550px;
        .instagram {
            width: 370px;
            font-size: 60px;
            line-height: 72px;
        }
        .photo1 {
            width: 180px;
            height: 180px;
            top: 320px;
        }
        .photo2 {
            width: 130px;
            height: 130px;
            top: 420px;
        }
        .arrow {
            top: 180px;
        }
    }
    .masters {
        h2 {
            font-size: 60px;
            line-height: 72px;
            left: 50%;
            margin-left: -150px;
            margin-top: -70px;
        }
    }
    .price {
        height: 650px;
        img {
            margin-top: 120px;
            width: 374px;
            height: 125px;
            left: 50%;
            margin-left: -185px;
        }
        a {
            top: 230px;
            left: -40px;
        }
        .service,
        .cost {
            font-size: 20px;
            line-height: 28px;
        }
        .price-row {
            height: 35px;
        }
    }
}

@media (max-width: 460px) {
    .header .social-link {
        left: 50%;
        margin-left: -95px;
    }
    .header .nav_active #lang.nav-link {
        left: 50%;
        margin-left: -15px;
        transition: 0.5s;
        bottom: 120px;
    }
    .header .logo {
        right: 30px;
        top: 25px;
        width: 80px;
    }
    .header #lang.nav-link {
        left: -120%;
        transition: 0.7s;
        bottom: 120px;
    }
    .header #main-nav,
    .header #sub-nav {
        ul {
            margin-left: 30px;
            li a {
                font-size: 36px;
                line-height: 36px;
                text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0;
            }
        }
    }
    .header #sub-nav.nav {
        top: 304px;
    }
    .header a#order.order-active {
        left: 60%;
        top: 304px;
    }
    .header #main-nav {
        padding-top: 166px;
    }
    .about a {
        top: 888px;
    }
    .masters .master {
        margin-left: 0;
    }
    .menu-btn {
        left: 30px;
        top: 30px;
    }
    .header-inner {
        padding-top: 30px;
    }
    .header {
        height: 250px;
    }
}

@media (max-width: 392px) {
    .about a {
        top: 888+27px;
    }
}

@media (max-width: 360px) {
    .about a {
        top: 888+27+25px;
    }
}

@media (max-width: 360px) {
    .portfolio h2 a {
        left: -20px;
    }
}

.menu-btn_active span:before {
    transform: rotate(-45deg);
    background-color: #baae81;
}

.menu-btn_active span:after {
    transform: rotate(45deg);
    background-color: #baae81;
}

.menu-btn_active span {
    height: 0;
    margin-top: 0;
}

.menu-btn_active {
    background-color: #fbfbfb;
}